add-station {
	.ml-21 {
		margin-left: 21%;
	}
	.mr-2 {
		margin-right: 2px;
	}
	.mt-2 {
		margin-top: 2%;
	}
	.mt-20 {
		margin-top: 20%;
	}
	.button.add_btn {
		box-shadow: none;
	}
	.checkbox-icon {
		width: 20px !important;
		height: 20px !important;
		border-radius: 50% !important;
	}
	.checkbox-inner {
		top: 2px !important;
		left: 5px !important;
	}
}